 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Feedback 1</title>

</head>
<body class="state-loading-desktop-viewer">
<div id="desktop-loading-screen"></div>
<div id="body-element">
<div class="site-element" element-id="1402310978797" element-type="PageContentElement"></div>
<section class="site-element" element-id="masterPageContentSectionId" element-type="SectionElement"></section>
<section class="site-element" element-id="id1539014097077" element-type="SectionElement">
<div class="element-children-container">
<div class="site-element" element-id="id1539014097078" element-type="freeText">
<div><span class="theme-text-color-0-0"><span style="font-size:30px;">{{ title }} FEEDBACK<span class="theme-background-color-0-4"></span><span class="theme-background-color-0-4"></span><span class="theme-background-color-3-4"></span><span class="theme-background-color-0-3"></span><span class="theme-background-color-0-4"></span><span class="theme-background-color-0-4"></span><span class="theme-background-color-0-4"></span><span class="theme-background-color-0-4"></span><span class="theme-background-color-0-4"></span><span class="theme-background-color-0-4"></span><span class="theme-background-color-0-4"></span><span class="theme-background-color-0-4"></span><span class="theme-background-color-0-4"></span><span class="theme-background-color-0-4"></span><br></span></span></div>
</div>
<div class="site-element" element-id="id1539014097079" element-type="DataListElement">
	{% for item in object_list %}
		{{item.id}}. {{item.tweet}},{{item.tag}} <br>
	{% endfor%}
<ol>
<li>
<div class="site-element" element-id="1539014097090" element-type="skinDataItem">
<div><a href="https://design.google.com/">
<div class="site-element" element-id="id1440485831994" element-type="skinHierarchyBox">
<div class="element-children-container">
<div class="site-element" element-id="id1440485831997" element-type="userBox">
<div class="element-children-container">
<div class="site-element" element-id="id1440485832000" element-type="Icon"></div>
<div class="site-element" element-id="id1440485831999" element-type="Ellipse"></div>
<div class="site-element" element-id="id1440485831998" element-type="Ellipse"></div>
</div>
</div>
<div class="site-elements" element-id="id1440485832001" element-type="label">
@DelhiMetro_Rail access gates need maintenance asap, most of them are malfunctioning or not working #NDTVNews #delhi #zeenews #RailminIndia
</div>
<div class="site-element" element-id="id1440485832002" element-type="label"></div>
</div>
</div>
</a>
</div>
</div>
</li>
<li>
<div class="site-element" element-id="1539014097090" element-type="skinDataItem">
<div><a href="https://design.google.com/">
<div class="site-element" element-id="id1440485831994" element-type="skinHierarchyBox">
<div class="element-children-container">
<div class="site-element" element-id="id1440485831997" element-type="userBox">
<div class="element-children-container">
<div class="site-element" element-id="id1440485832000" element-type="Icon"></div>
<div class="site-element" element-id="id1440485831999" element-type="Ellipse"></div>
<div class="site-element" element-id="id1440485831998" element-type="Ellipse"></div>
</div>
</div>
<div class="site-element" element-id="id1440485832001" element-type="label">
#TrainNo14866 when it will start from source station S11 coach is also not clean #RailMinIndia @PiyushGoyalOffc
</div>
<div class="site-element" element-id="id1440485832002" element-type="label"></div>
</div>
</div>
</a>
</div>
</div>
</li>
<li>
<div class="site-element" element-id="1539014097090" element-type="skinDataItem">
<div><a href="https://design.google.com/">
<div class="site-element" element-id="id1440485831994" element-type="skinHierarchyBox">
<div class="element-children-container">
<div class="site-element" element-id="id1440485831997" element-type="userBox">
<div class="element-children-container">
<div class="site-element" element-id="id1440485832000" element-type="Icon"></div>
<div class="site-element" element-id="id1440485831999" element-type="Ellipse"></div>
<div class="site-element" element-id="id1440485831998" element-type="Ellipse"></div>
</div>
</div>
<div class="site-element" element-id="id1440485832001" element-type="label">I have to report at Ambala tomorrow by 1400 hours for SSB. Got train no 15602 booked scheduled to arrive at 0845 hrs. Which is now running 4 hours late that too expected. Who’d compensate that. Please don’t play with careers #IndianRailways #irctc #Railwaysewa #railminindia</div>
<div class="site-element" element-id="id1440485832002" element-type="label"></div>
</div>
</div>
</a>
</div>
</div>
</li>
<li>
<div class="site-element" element-id="1539014097090" element-type="skinDataItem">
<div><a href="https://design.google.com/">
<div class="site-element" element-id="id1440485831994" element-type="skinHierarchyBox">
<div class="element-children-container">
<div class="site-element" element-id="id1440485831997" element-type="userBox">
 <div class="element-children-container">
<div class="site-element" element-id="id1440485832000" element-type="Icon"></div>
<div class="site-element" element-id="id1440485831999" element-type="Ellipse"></div>
<div class="site-element" element-id="id1440485831998" element-type="Ellipse"></div>
</div>
</div>
<div class="site-element" element-id="id1440485832001" element-type="label">The train is running late by 6 hours. Train No. 12367. Up to Mughal Saral, it was right time, but when it reached Delhi, it’s late by 6 hours without any technical fault. Please check as our time is also important. #PiyushGoyal #indianrailway #RailMinIndia</div>
<div class="site-element" element-id="id1440485832002" element-type="label"></div>
</div>
</div>
</a>
</div>
</div>
</li>
<li>
<div class="site-element" element-id="1539014097090" element-type="skinDataItem">
<div>
<div class="site-element" element-id="id1440485831994" element-type="skinHierarchyBox">
<div class="element-children-container">
<div class="site-element" element-id="id1440485831997" element-type="userBox">
<div class="element-children-container">
<div class="site-element" element-id="id1440485832000" element-type="Icon"></div>
<div class="site-element" element-id="id1440485831999" element-type="Ellipse"></div>
<div class="site-element" element-id="id1440485831998" element-type="Ellipse"></div>
</div>
</div>
<div class="site-element" element-id="id1440485832001" element-type="label">#railminindia #indianrailway #pnr 2247224801 Is this the clean one to wear. Or my all the money is not worth for what I have paid for. Could you please look in this matter.</div>
<div class="site-element" element-id="id1440485832002" element-type="label"></div>
</div>
</div>
</div>
</div>
</li>
</ol>
</div>
</div>
</section>
<section class="site-element" element-id="id1539013327748" element-type="SectionElement"></section>
</div><script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"319ed5a491","applicationID":"64829411","transactionName":"NlQHZEpRWxcEAhYKXQ8eMEJRH1wKAQQaTUIJQQ==","queueTime":0,"applicationTime":728,"atts":"GhMEEgJLSBk=","errorBeacon":"bam.nr-data.net","agent":""}</script></body>
</html>